<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ToDo App</title>
    </head>

    <body>
        <h1>Todo App</h1>

        <form action=""> 
            <div>
                <label for="title">ToDo Title</label>
                <input type="text" name="title" placeholder="Enter ToDo..">
                <br><br>
                <button type="submit">Add</button>
            </div>
        </form>

    </body>
     
</html>
